@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #E178C6;
  --secondary: #972986;
  --white: #FAFAFA;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  border: transparent;
  transition: transform 0.3s ease;
  margin: 8px 0;
}

.btn:hover {
  transform: scale(1.01);
}

.btn--primary--solid {
  color: var(--white);
  background-image: linear-gradient(to right, var(--primary) 40%, var(--secondary)  100%);
}

.btn--primary--outline {
  border: solid 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, var(--primary) 40%, var(--secondary)  100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.btn--primary--outline span {
  background: -webkit-linear-gradient(45deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Button Size */

.btn--small {
  padding: 5px 10px;
  font-size: 16px;
}

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 15px 30px;
  font-size: 20px;
}
